@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    cursor: default;
    font-weight: 600;
    font-family: 'Tillana', cursive;
}

body {
    background: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.container {
    position: relative;
    display: flex;
    width: 35em;
    height: 45em;
    z-index: -2;
    overflow: hidden;
    border-radius: 0.5em;
    border: 2px solid rgba(0, 0, 0);
}

.container img {
    width: 2.5em;
}

#track1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -35%;
    animation-duration: 6s;
    transition: all 0.3s;
}

#track2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: -145%;
    animation-duration: 6s;
    animation-delay: 3s;
    transition: all 0.3s;
}

#start-track {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: -35%;
    animation-duration: 5s;
    transition: all 0.3s;
}

#car {
    position: absolute;
    top: 80%;
    left: 50%;
    height: 90px;
    transition: all 0.2s;
}

.cars {
    height: 90px;
    width: 40px;
    top: -20%;
    position: absolute;
    transform: rotateX(180deg);
    transition: all 0s;
}

#car1 {
    top: -50%;
    left: 20%;
    animation-delay: 0.5s;
    animation-duration: 3s;
}

#car2 {
    top: -50%;
    left: 50%;
    animation-delay: 1.5s;
    animation-duration: 3s;
}

#car3 {
    animation-delay: 0s;
    animation-duration: 3s;
}

.road {
    position: absolute;
    width: 70%;
    left: 15%;
    height: 100%;
}

/* ---------------------------------------------------------- */
#startBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10em;
    border: 2px solid rgba(0, 0, 0);
    background: rgba(0, 255, 0);
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.8em;
    animation: startBtn 1.2s linear infinite;
    transition: all 0.5s;
}

@keyframes startBtn {
    0% {
        letter-spacing: 0px;
    }

    50% {
        letter-spacing: 1px;
    }

}

#black {
    position: absolute;
    cursor: default;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    width: 35em;
    height: 45em;
    left: 50%;
    top: 50%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------- */
.info {
    background: yellow;
    width: 10em;
    height: 3.5em;
    position: absolute;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0);
    top: 35%;
    transition: all 0.3s;
}

.info #lifes {
    font-family: cursive;
    position: absolute;
    width: 5.2em;
    height: 1.4em;
    left: 6em;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.5em;
    font-size: 1.5em;
    top: 0;
    padding-left: 0.9em;
    padding-top: 0.1em;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 2em;
}

.highScoreContainer {
    width: 15em;
    height: 3.5em;
    position: absolute;
    background: cyan;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0);

    top: 80%;
    transition: all 0.8s;
}